    .locationList {
    max-height: 85vh;
    overflow: auto;
    margin-bottom: 20px;
}

@media (max-width: 64em) {
    .locationList {
    max-height: 40vh;
    margin-bottom: 20px;
}
}

.formcast-title {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}